!.gitkeep
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sitemap.xml
sitemap.xml.gz
*.log
.idea/

node_modules
.vagrant
*.map

logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

vendor
src/document/config/config.tml
src/document/config/env.go
src/document/main
