package config

// HASH_SALT
const HASH_SALT = "bc9765d90f8afa361a6ad379ee74396a40a6ebf7b95908f4ba2e71b39aa7537f"
const SLACK_WEBHOOKURL = ""
const SLACK_FACEICON = ""
const SLACK_CNANNEL = ""
const SLACK_USERNAME = ""

const FRONT_URL = ""
const SITE_TITLE = ""
